.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card{
margin-top: 10px;
padding: 1px;

}
.navbar{
background-color: white !important;


}
.navbar-brand{
color: white !important;
font-weight: bold !important; 


}
.nav-link{
  color: black !important;
}
.btn-outline-success{
color: white !important;
border: black !important;

}
.instant-search {
  position: relative;
  max-width: 250px;
}

.instant-search,
.instant-search__input {
  font-family: sans-serif;
}

.instant-search,
.instant-search * {
  transition: background 0.15s, box-shadow 0.15s;
}

.instant-search:focus-within {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.instant-search--loading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  background: #009578;
  border-radius: 5px;
  animation: searchIndicator 0.5s infinite ease-in-out;
}

@keyframes searchIndicator {
  0% {
    width: 15%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 15%;
  }
}

.instant-search,
.instant-search__input-container {
  border-radius: 5px;
}

.instant-search__input-container {
  display: inline-flex;
  box-sizing: border-box;
  width: 100%;
  padding: 6px;
  background: #eeeeee;
}

.instant-search__input-container:focus-within {
  background: #ffffff;
}

.instant-search__input {
  flex-grow: 1;
  border: none;
  outline: none;
  width: 100%;
  padding: 0 6px;
  background: transparent;
}

.instant-search__results-container {
  max-height: 250px;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.1s, opacity 0.1s;
}

.instant-search__results-container--visible {
  visibility: visible;
  opacity: 1;
}

.instant-search__result {
  display: block;
  color: #333333;
  text-decoration: none;
  padding: 10px;
  font-size: 0.8em;
  cursor: pointer;
}

.instant-search__result:hover {
  background: #eeeeee;
}

.instant-search__result:not(:last-of-type) {
  border-bottom: 1px solid #eeeeee;
}

.instant-search__title {
  font-size: 1.1em;
  font-weight: bold;
}

.instant-search__paragraph {
  line-height: 1.5;
  margin: 8px 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.btn-outline-success{
background-color: #152E2A;


}
.btn-outline-success:hover {
  background-color:#152E2A ;
}
.btn-outline-success:active {
  background-color: #152E2A ;
 
 
}
.form-control{
width: 300px !important;


}
.bd-primary{
  /* margin-left: 90%; */
border-radius: 30% !important;
border: solid  #152E2A;
}
.card{
padding: 20px;
height: 363px ;

}


.footer {
margin-top: 10px;
  height: 60%;
  width: 100%;
  background-color:#E8F0EF;
color: #000;
  /* text-align: center; */
}
.Jawad2 {
  
 
  width: 100%;
  background-color: #152E2A;
color: white;
  
  margin-top: 10px;
  height: 40px;

}
.Card{
margin: 0 auto;

}










